/* スマホでの表示  */
#question{
width:95%;
margin:2em auto;
border:#6699ff 1.5px solid;
}

#question th{
padding:3px;
display:block;
}

#question td{
padding:5px;
display:block;
}

@media only screen and (min-width: 780px) {

  /* PCでの表示 */
#question{
  width:100%
  margin:5px auto;
  font-size:90%;
  border:#6699ff 1.5px solid;
}

#question tr{
  border-bottom:#6699ff 1px solid;
}

#question tr:last-child{
  border:none;
 }

#question th{
  width:40%;
  padding:5px 10px;
  display:table-cell;
  border-right:#6699ff 1px solid;
}

#question td{
  width:60%;
  padding:5px 10px;
  display:table-cell;
}
}

#partner {
margin-bottom: 20px;
}

.navbar-height {
  display: flex;
  flex-wrap: wrap;
}
