/* フォント */
#app {
  font-family: "Sawarabi Mincho";
}

#title-font, #navbar{
  font-family: "M PLUS Rounded 1c", "Sawarabi Mincho";
}


/* タイトルの文字の大きさ */
@media screen and (min-width:0px){
  #title-font{
    font-size: 20px;
  }
}

@media screen and (min-width:300px){
  #title-font{
    font-size: 30px;
  }
}

@media screen and (min-width:576px){
  #title-font{
    font-size: 40px;
  }
}

@media screen and (min-width:780px){
  #title-font{
    font-size: 50px;
  }
}

@media screen and (min-width:992px){
  #title-font{
    font-size: 70px;
  }
}


/* プロフィールテーブルのスマホでの表示  */
#profile-table{
  width:95%;
  margin:2em auto;
  border:#6699ff 1.5px solid;
}

#profile-table th{
  padding:3px;
  display:block;
}

#profile-table td{
  padding:5px;
  display:block;
}

/* プロフィールテーブルのPCでの表示 */
@media only screen and (min-width: 780px) {
  #profile-table{
    width:100%;
    margin:5px auto;
    font-size:90%;
    border:#6699ff 1.5px solid;
  }

  #profile-table tr{
    border-bottom:#6699ff 1px solid;
  }

  #profile-table tr:last-child{
    border:none;
  }

  #profile-table th{
    width:40%;
    padding:5px 10px;
    display:table-cell;
    border-right:#6699ff 1px solid;
  }

  #profile-table td{
    width:60%;
    padding:5px 10px;
    display:table-cell;
  }
}

.navbar-height {
  display: flex;
  flex-wrap: wrap;
}

/* イベント */
@media screen and (max-width:576px){
  #event {
    display:block; /*横を縦に*/
  }
}

#nsc_map {
  height: 300px;
}
#watanabe_map {
  height: 300px;
}
